body #mySidenavMenuBtn {
  background-image: url('../pics/bg3.jpg');
  font-size:40px;
  cursor:pointer;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  color: white;
}

body header {
  height: 400px;
  width: 100%;
  background-image: url('../pics/housebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px
  padding: 0
}

.navbar-custom {
    background-image: url('../pics/bg3.jpg');
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #33db98;
    cursor: pointer;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    color:  #33db98;
    cursor: pointer;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

body #firstsummary {
  height: 150px;
  /* width: 100%; */
  /* text-align: inherit; */
  font-size: 15px;
  color: white;
  background-image: url('../pics/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* box-sizing:border-box; */
	display: flex;
  /* margin-top: auto;
  margin-bottom: auto; */
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}


/* Create two equal columns that floats next to each other */

#service-column1 {
  background-color: #33db98;
  color: white;
  text-align: left;
  height: 200px;
}

#service-column2 {
  background-image: url('../pics/bg5.jpg');
  height: 200px;
}

#aboutRadonCol{
    background-image: url('../pics/bg1.jpg');
}

#aboutRoofCol{
    background-image: url('../pics/bg4.jpg');
}

#aboutThermalCol{
    background-image: url('../pics/bg5.jpg');
}

.hover {
  /* background-color will highlight the entire header/div/section etc */
  /* color: #33db98; */
  cursor: pointer;
}

h3 {
  padding-top: 15px;
  color: #fff;
}

body footer {
  width: 100%;
  color: white;
  background-image: url('../pics/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
